{% extends 'base.html.twig' %}

{% block title %}Nouvelle dépense
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container-fluid bg-pd-blue" style="height:10vh!important"></div>
	<div class="container col-4 offset-4">
		<h1 class="text-center text-pd-yellow">Ajouter une dépense</h1>
		{{form_start(form)}}
		<div class="row">
			<div class="col">
				{{form_row(form.name)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.outcome_date)}}
			</div>
			<div class="col">
				{{form_row(form.outcome_amount)}}
			</div>
		</div>
		<div class="row">
			<div class="py-3 d-grid">
				<button type="submit" class="btn btn-block btn-success ">Ajouter la prestation</button>
			</div>
		</div>
		{# {{form_row(form.Envoyer)}} #}
	</div>
	{{form_end(form)}}
</div></div><div class="d-flex justify-content-center">
<a class="btn btn-primary" href="{{ path('app_outcome_index') }}">Retour a la la liste des dépenses</a></div><div class="container-fluid bg-pd-blue position-fixed bottom-0" style="height:10vh!important">

<a href="{{ path('app_outcome_index') }}">back to list</a>{% endblock %}
