{% extends 'base.html.twig' %}

{% block title %}EstimatePerformanceLink index{% endblock %}

{% block body %}
    <h1>EstimatePerformanceLink index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estimate_tab_id</th>
                <th>Performance_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimate_performance_link in estimate_performance_links %}
            <tr>
                <td>{{ estimate_performance_link.id }}</td>
                <td>{{ estimate_performance_link.estimateTabId }}</td>
                <td>{{ estimate_performance_link.performanceId }}</td>
                <td>
                    <a href="{{ path('app_estimate_performance_link_show', {'id': estimate_performance_link.id}) }}">show</a>
                    <a href="{{ path('app_estimate_performance_link_edit', {'id': estimate_performance_link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_estimate_performance_link_new') }}">Create new</a>
{% endblock %}
