{% extends 'base.html.twig' %}

{% block title %}Edit Business
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	{% include('navbar.html.twig') %}
	<div class="container col-6 offset-3 text-white">

		<h1 class="text-center text-pd-yellow mt-">Mettre a jour mon entreprise</h1>
		{{form_start(form)}}
        <div class="row">
			<div class="col-6">
				{{form_row(form.business_name)}}
			</div>
			<div class="col-6">
				{{form_row(form.logo)}}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{form_row(form.siret)}}
			</div>
			<div class="col-6">
				{{form_row(form.code_ape)}}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{form_row(form.code_tva)}}
			</div>
			<div class="col-6">
				{{form_row(form.rib)}}
			</div>
		</div>
		<div class="row">
			<div class="py-3 d-grid">
				<button type="submit" class="btn btn-block btn-primary ">Editer le compte</button>
			</div>
			{# {{form_row(form.Envoyer)}} #}
		</div>
    {{form_end(form)}}
		<div class="d-flex justify-content-center">
			<a class='btn btn-success' href="{{ path('profile') }}">Retour au profil</a>
		</div>
	</div>
{% endblock %}
