{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
{% include 'navbar.html.twig' %}
    <h1 class="text-center text-pd-yellow">Editer un client</h1>
	
    <div class="container col-6 text-white">
    {{form_start(form, {attr: {'novalidate': 'novalidate'}})}}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
			<label>Personne morale</label>
			<div class="form-check form-switch">
				
				{{form_row(form.is_physick)}}
			</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.name)}}
			</div>
			<div class="col">
				{{form_row(form.last_name)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.business_name)}}
			</div>
			<div class="col">
				{{form_row(form.mail)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.num_street)}}
			</div>
			<div class="col">
				{{form_row(form.street)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.zip_postal)}}
			</div>
			<div class="col">
				{{form_row(form.town)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.index_tel)}}
			</div>
			<div class="col">
				{{form_row(form.phone_number)}}
			</div>
		</div>
		<div class="row">
			<div class="py-3 d-grid">
				<button type="submit" class="btn btn-block btn-success">Confirmer</button>
			</div>
			{# {{form_row(form.Envoyer)}} #}
		</div>
		{{form_end(form)}}

    </div>
	<div class="d-flex col-2 offset-5 justify-content-around">
    <a class='btn btn-primary' href="{{ path('app_client_index') }}">Retour</a>
    {{ include('client/_delete_form.html.twig') }}
	</div>
{% endblock %}
