{% extends 'base.html.twig' %}

{% block title %}Nouveau client
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container-fluid bg-pd-blue" style="height:10vh!important"></div>

	<h1 class="text-pd-yellow text-center">Ajouter un client</h1>
	<div class="container col-4 offset-4">
		{{form_start(form, {attr: {'novalidate': 'novalidate'}})}}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<label>Personne morale</label>
				<div class="form-check form-switch">

					{{form_row(form.is_physick)}}
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.name)}}
			</div>
			<div class="col">
				{{form_row(form.last_name)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.business_name)}}
			</div>
			<div class="col">
				{{form_row(form.mail)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.num_street)}}
			</div>
			<div class="col">
				{{form_row(form.street)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.zip_postal)}}
			</div>
			<div class="col">
				{{form_row(form.town)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.index_tel)}}
			</div>
			<div class="col">
				{{form_row(form.phone_number)}}
			</div>
		</div>
		<div class="row">
			<div class="py-3 d-grid">
				<button type="submit" class="btn btn-block btn-success">Ajouter le client</button>
			</div>
			{# {{form_row(form.Envoyer)}} #}
		</div>
		{{form_end(form)}}
		<div class="d-flex justify-content-center">
			<a class="btn btn-primary" href="{{ path('app_client_index') }}">Retour à la liste des clients</a>
		</div>
	</div>
	{% if app.request.attributes.get("_route") == "app_client_new" %}
		<div class="container-fluid bg-pd-blue position-fixed bottom-0" style="height:10vh!important">
		{% endif %}
	{% endblock %}
