

{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="col-4 offset-4">
    <h1 class="text-pd-yellow text-center">Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="table-dark p-3">Prénom</th>
                <td>{{ client.name }}</td>
            </tr>
                <th class="table-dark p-3">Nom</th>
                <td>{{ client.lastName }}</td>
            <tr>
            </tr>
            <tr>
                <th class="table-dark p-3">Nom de l'entreprise</th>
                <td>{{ client.businessName }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Personne physique?</th>
                <td>{{ client.isPhysick ? 'Physique' : 'Morale' }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">E-Mail</th>
                <td class="p-3">{{ client.mail }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Numéro</th>
                <td class="p-3">{{ client.numStreet }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Rue</th>
                <td class="p-3">{{ client.street }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Code postal</th>
                <td class="p-3">{{ client.zipPostal }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Index telephonique</th>
                <td class="p-3">{{ client.indexTel }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Numéro de téléphone</th>
                <td class="p-3">{{ client.phoneNumber }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Ville</th>
                <td class="p-3">{{ client.town }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center gap-2">
    <a class="btn btn-primary" href="{{ path('app_client_index') }}">Retour</a>

    <a class="btn btn-success" href="{{ path('app_client_edit', {'id': client.id}) }}">Editer</a>

    {{ include('client/_delete_form.html.twig') }}
</div>
{% endblock %}
