{% extends 'base.html.twig' %}

{% block title %}Mes factures{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class=" col-8 offset-2">

    <h1 class="text-center text-pd-yellow my-3">Mes factures</h1>
    <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-primary" href="{{ path('app_facture_emit_new') }}">Générer une facture</a>
    </div>
    <table class="table table-striped-column">
        <thead class="">
            <tr class="table-dark text-center">
                <th>Date d'émission</th>
                <th>Numero</th>
                <th>Intitulé</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dat in data %}
            <tr>
                <td class = '{% if dat.isPaid == 0 %}
                    invalid-row
                {% else %}
                    valid-row
                {% endif %}'>{{ dat.creationDate|date('Y-m-d') }}</td>
                <td class = '{% if dat.isPaid == 0 %}
                    invalid-row
                {% else %}
                    valid-row
                {% endif %}'>{{ dat.num }}</td>
                <td class = '{% if dat.isPaid == 0 %}
                    invalid-row
                {% else %}
                    valid-row
                {% endif %}'>{{ dat.intitule}}</td>
                <td class = '{% if dat.isPaid == 0 %}
                    invalid-row
                {% else %}
                    valid-row
                {% endif %}'>{{ dat.total }}</td>
                <td class = '{% if dat.isPaid == 0 %}
                    invalid-row
                {% else %}
                    valid-row
                {% endif %}'>
                    <a href="{{ path('app_facture_emit_show', {'id': dat.id}) }}">show</a>
                    <a href="{{ path('app_facture_emit_edit', {'id': dat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
