<nav class="navbar navbar-expand-lg navbar-light bg-pd-blue p-0 20vw">
	<div class="container-fluid p-0">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 w-100">
				<li class="nav-item col-lg-2 d-flex align-items-center justify-content-center bg-pd-green">
					<img
					src="{{asset("img/pigeon-devis-landscape.svg")}}" class="vh20">
				<!-- <a class=" align-middle justify-content-center align-items-center" aria-current="page" href="#"><img class="img-fluid" src="../img/Fichier 4@2x.png"></a> -->
				</li>                                       
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/dashboard-report-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Dashboard</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/quotation-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Mes Devis</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/euro-price-list-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Mes Factures</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/services-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Mes Prestations</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/young-business-woman-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Mes Clients</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center">
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center text-white" aria-current="page" href="#">
						<img class=" d-none p-4 d-lg-block h-75" src="{{asset("img/buyer-pay-icon.svg")}}">
						<p class="fs-6 fw-bold m-0">Mes Dépenses</p>
					</a>
				</li>
				<li class="nav-item col-lg-2">
					<div class="bg-pd-yellow w-100 h-100">
						<div class="row h-100">
							<div class="col-8 h-100 d-flex flex-column justify-content-center align-items-center">
								<p>Bienvenue,
								</p>
								<p>{{app.user.pseudo}}</p>
							</div>
							<div class="col-4 h-100">
								<a class=" h-100 align-middle d-flex justify-content-center align-items-center my-auto" aria-current="page" href="{{ path('app_logout') }}">
									<img class="img-fluid" src="{{asset("img/shutdown-icon.svg")}}">
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
		</li>
	</ul>
</div></div></nav>
