<nav class="navbar navbar-expand-lg navbar-light bg-pd-blue p-0 box-b-shadow">
	<div class="container-fluid p-0">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 w-100" style="height: 80px">
				<li class="nav-item col-lg-2 d-flex align-items-center justify-content-center bg-pd-green">
					<img
					src="{{asset("img/pigeon-devis-landscape.svg")}}" class="h-100">
				<!-- <a class=" align-middle justify-content-center align-items-center" aria-current="page" href="#"><img class="img-fluid" src="../img/Fichier 4@2x.png"></a> -->
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') == 'home' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('home') }}" {% if app.request.attributes.get('_route') == 'home' %} style="color:#35aae0!important;" {% endif %}>

						<p class="fs-6 fw-bold m-0">Dashboard</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') starts with 'app_dress_estimate' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('app_dress_estimate_index') }}" {% if app.request.attributes.get('_route') starts with 'app_dress_estimate' %} style="color:#35aae0!important;" {% endif %}>

						<p class="fs-6 fw-bold m-0">Devis</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') starts with 'app_facture_emit' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('app_facture_emit_index')}}" {% if app.request.attributes.get('_route') starts with 'app_facture_emit' %} style="color:#35aae0!important;" {% endif %}> 

						<p class="fs-6 fw-bold m-0">Factures</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') starts with 'app_performance' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('app_performance_index') }}" {% if app.request.attributes.get('_route') starts with 'app_performance' %} style="color:#35aae0!important;" {% endif %}>

						<p class="fs-6 fw-bold m-0">Prestations</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') starts with 'app_client' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('app_client_index') }}" {% if app.request.attributes.get('_route') starts with 'app_client' %} style="color:#35aae0!important;" {% endif %}>

						<p class="fs-6 fw-bold m-0">Clients</p>
					</a>
				</li>
				<li class="nav-item col-lg px-3 d-flex flex-column justify-content-end align-items-center" {% if app.request.attributes.get('_route') starts with 'app_outcome' %} style="background-color:white!important;" {% endif %}>
					<a class="nav-link d-flex flex-column justify-content-end h-100 align-items-center justify-content-center text-white" aria-current="page" href="{{ path('app_outcome_index')}}" {% if app.request.attributes.get('_route') starts with 'app_outcome' %} style="color:#35aae0!important;" {% endif %}>

						<p class="fs-6 fw-bold m-0">Dépenses</p>
					</a>
				</li>
				<li class="nav-item col-lg-2">
					<div class="bg-pd-yellow w-100 h-100">
						<div class="row h-100">
							<div class="col-8 h-100 d-flex flex-column justify-content-center align-items-center">
								<a class="text-white fs-6 fw-bold text-decoration-none" href="{{ path('profile')}}">Voir mon profil</a>
							</div>
							<div class="col-4 h-100 p-3 ">
								<a class=" h-100 align-middle d-flex justify-content-center align-items-center my-auto" aria-current="page" href="{{ path('app_logout') }}">
									<img class="img-fluid h-100" src="{{asset("img/shutdown-icon.svg")}}">
								</a>
							</div>
						</div>
					</div>
				</li>
			</div>
		</li>
	</ul>
</div></div></nav>
