{% extends 'base.html.twig' %}

{% block title %}DressEstimate{% endblock %}

{% block body %}
    <h1>DressEstimate</h1>

    {# <table class="table"> #}
    <div class="container col-8 offset-2" style="background-color:white!important">
        <div class="row text-end fw-bold">
            <p>Devis N° {{dress_estimate.estimateNumber}}</p>
        </div>
        <div class="row">
			<div class="col-2 offset-1">

				<img class="img-thumbnail" src={{asset("/public/uploaded-images/signs/018ec773-589e-74ea-a21d-2b482a7a0278.png")}}>
			</div>
            <div class="col-9 text-end m-0">
                <p>Date d'émission : {{dress_estimate.creationDate |date('d-m-Y')}}
                <br>Validité : {{dress_estimate.estimateNumber}} jours</p>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>
                <span class="fw-bold ps-3 text-decoration-underline">Emetteur :</span><br>
                </p>
            </div>
            <div class="col-4 offset-3">
                <p class="fw-bold ps-3 ms-3 text-decoration-underline">Destinataire : </p>
            </div>
        </div>
    <div class="row">
        <div class="col-4 border m-3 p-3">
            <div>{{business.businessName}}</div>
            <div>{{user.email}}</div>
        </div>
        <div class="col-4 border mt-3 mb-3 p-3 offset-3">
            <div>{{client.businessName}}</div>
            <div>{{client.mail}}</div>
            <div>{{client.name}} {{client.lastname}}</div>
            <div>{{client.numStreet}} {{client.street}}</div>
            <div>{{client.zipPostal}} {{client.town}}</div>
        </div>
    </div>
    <div class="row">
        <p class="ms-5">Intitulé : {{dress_estimate.intitule}}</p>
    </div>
    
    <div id="performanceDiv" class="row ms-5 me-5">
			<table class="table table-striped-column">
				<thead class="">
					<tr class="table-dark text-center">
						<th>Quantité</th>
						<th>Désignation</th>
						<th>Unité</th>
						<th>Prix</th>
                        <th>Total HT</th>
					</tr>
				</thead>
				<tbody id="perfomanceTableBody">
                    {% for perf in performances %}
                    <tr>
                        <td>{{perf[0].quantity}}</td>
                        <td>{{perf[0].designation}}</td>
                        <td>{{perf[0].unit}}</td>
                        <td>{{perf[0].pirce}}</td>
                        <td>1million</td>
                    </tr>
                    {% endfor %}
                </tbody>
			</table>
	</div>
    <div  class="row">
        <div class="col-7">
            <p class="border">{{dress_estimate.freeZone}}</p>
        </div>
        <div class="col-3 offset-1">
            <div class="row">
                <div class="col-9">
                    Total HT:
                </div>
                <div class="col-3 text-end">
                    dlfjdf
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    Accompte:
                </div>
                <div class="col-3 text-end">
                    dlfjdf
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    Tva:
                </div>
                <div class="col-3 text-end">
                    dlfjdf
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    Remise:
                </div>
                <div class="col-3 text-end">
                    dlfjdf
                </div>
            </div>
            <div class="row bg-dark text-white">
                <div class="col-9">
                    Total TTC:
                </div>
                <div class="col-3 text-end">
                    dlfjdf
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3"> 
        <div class="col-4 border offset-1">
            <p class="text-center">Bon pour accord du client</p>
            <br><br><br><br>
        </div>
        
        <div class="col-4 border offset-1">
            <p class="text-center">Signature :</p>
            <br><br><br><br>
        </div>
    </div>
    <div class="row text-center bg-black text-white pt-3 pb-3">
        <div>Siret : {{business.siret}}</div>
        <div>Code ape : {{business.codeApe}} Tva :  {{business.codeTva}}</div>
        <div>Rib : {{business.rib}}</div>
    </div>
    </div>
        

    <a href="{{ path('app_dress_estimate_index') }}">back to list</a>

    <a href="{{ path('app_dress_estimate_edit', {'id': dress_estimate.id}) }}">edit</a>

    {{ include('dress_estimate/_delete_form.html.twig') }}
{% endblock %}
