{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}

<div class="container col-8">
    <h1 class="text-center text-pd-yellow my-3">Mes Prestations</h1>
    <div class="d-flex justify-content-center mb-2">
        <a class="btn btn-primary" href="{{ path('app_performance_new') }}">Ajouter une prestation</a>
    </div>
    <table class="table table-striped-column">
        <thead class="">
            <tr class="table-dark text-center">
                <th>Quantité</th>
                <th>Désignation</th>
                <th>Prix</th>
                <th>Unité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.quantity }}</td>
                <td>{{ performance.designation }}</td>
                <td>{{ performance.pirce }}</td>
                <td>{{ performance.unit }}</td>
                <td class="d-flex justify-content-around" >
                    <a class="btn btn-primary" href="{{ path('app_performance_show', {'id': performance.id}) }}">Voir</a>
                    
                    <a class="btn btn-success" href="{{ path('app_performance_edit', {'id': performance.id}) }}">Editer</a>
                
                    {{ include('performance/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
