{% extends 'base.html.twig' %}

{% block title %}New Performance{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
{% if app.request.attributes.get("_route") == "app_performance_new" %}

{% include 'navbar.html.twig' %}
{% else %}
{% include 'topbar.html.twig' %}
{% endif %}
    {% if app.request.attributes.get("_route") == "app_performance_new" %}
    <div class="container col-4 offset-4 text-white">
    {% else %}
    <div class="container col-4 offset-4 text-black">
    {% endif %}
    <h1 class="text-center text-pd-yellow">Ajouter une prestation</h1>
    {{form_start(form)}}
    {# {% for performance %} #}
    <div class="row">
        <div class="col">
            {{form_row(form.designation)}}
        </div>
        <div class="col">
            {{form_row(form.quantity)}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form_row(form.unit)}}
        </div>
        <div class="col">
            {{form_row(form.pirce)}}
        </div>
    </div>
    <div classs="row">
        {{form_row(form.tax)}}
    </div>
    <div class="row">
        <div class="py-3 d-grid">
            <button type="submit" class="btn btn-block btn-success ">Ajouter la prestation</button>
        </div>
        {# {{form_row(form.Envoyer)}} #}
    </div>
    {{form_end(form)}}
    </div>{% if app.request.attributes.get("_route") == "app_performance_new" %}
    {% endif %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ path('app_performance_index') }}">Retour a la la liste des prestations</a>
    </div>
    {% if app.request.attributes.get("_route") == "app_performance_new" %}
    {% endif %}
{% endblock %}
