{% extends 'base.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container col-4 offset-4">
    <h1 class="text-pd-yellow text-center">Prestations</h1>

    <table class="table table-striped-column";>
        <tbody>
            <tr>
                <th class="table-dark p-3">Quantité</th>
                <td class="p-3">{{ performance.quantity }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Désignation</th>
                <td class="p-3">{{ performance.designation }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Prix</th>
                <td class="p-3">{{ performance.pirce }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">Unité</th>
                <td class="p-3">{{ performance.unit }}</td>
            </tr>
            <tr>
                <th class="table-dark p-3">T.V.A</th>
                <td class="p-3">{{ performance.tax }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center gap-2">
        <a class="btn btn-primary" href="{{ path('app_performance_index') }}">Retour</a>

        <a class="btn btn-success" href="{{ path('app_performance_edit', {'id': performance.id}) }}">Editer</a>

        {{ include('performance/_delete_form.html.twig') }}
    </div>
    
</div>
{% endblock %}
