{% extends "base.html.twig" %}

{% block title "Créér un compte" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="container col-6 offset-3">
    <h1 class="text-center">Créer un compte</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col">
            {{form_row(form.mail)}}
        </div>
        <div class="col">
            {{form_row(form.pseudo)}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form_row(form.siret)}}
        </div>
        <div class="col">
            {{form_row(form.signature)}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form_row(form.pass.first)}}
        </div>
        <div class="col">
            {{form_row(form.pass.second)}}
        </div>
    </div>
    <div class="row">
        {{form_row(form.Envoyer)}}
    </div>
    {{form_end(form)}}
    </div>
{% endblock %}