{% extends "base.html.twig" %}

{% block title "Créér un compte" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container text-white col-4 offset-4 d-flex align-items-center" sytle="height:100vh!important">
		<div class="col-12 d-flex mt-3">
			<img class="img-fluid w-25 m-auto" src="{{asset("img/pigeon-devis-portrait.svg")}}">
		</div>
		<h1 class="text-center text-pd-yellow">Créer un compte</h1>
		{{form_start(form)}}
		<div class="row">
			<div class="col">
				{{form_row(form.email)}}
			</div>
			<div class="col">
				{{form_row(form.pseudo)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.siret)}}
			</div>
			<div class="col">
				{{form_row(form.signature)}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{form_row(form.password.first)}}
			</div>
			<div class="col">
				{{form_row(form.password.second)}}
			</div>
		</div>
		<div class="row">
			<div class="py-3 d-grid">
				<button type="submit" class="btn btn-block btn-primary ">Créer un compte</button>
			</div>
			{# {{form_row(form.Envoyer)}} #}
		</div>
		{{form_end(form)}}
	</div>

	{% endblock %}
